*{
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Amatic SC';
}
.centered{
  text-align: center;
}

a{
  font-size: 2em;
  text-align: center;
  display: inline-block;
}

.body{
  background: #C8E3FF;
}

p{
  font-size: 2em;
}

.wrapper{
  width: 1000px;
  background: url("code.png");
  margin: 0 auto;
  padding-bottom: 20%;
}
